/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop


1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 75em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skew(2deg, 3deg) scale(1.1);
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-teritary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.75rem !important;
}
@media only screen and (max-width: 75em) {
  .heading-teritary {
    font-size: 1.3rem;
  }
}
.heading-teritary__paragraph {
  font-size: 1.6rem;
  margin-bottom: 1.75rem;
}
.heading-teritary__paragraph:noth(:last-child) {
  margin-bottom: 3rem;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text, .btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #55c57a;
  display: inline-block;
  font-size: 1.6rem;
  padding: 3px;
  transition: all 0.2s;
  border-bottom: 1px solid #55c57a;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transition: all 0.2s;
}

.images {
  position: relative;
}
.images__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .images__photo {
    margin: 0 10rem;
    float: left;
    position: relative;
    width: 33.33333333%;
  }
}
.images__photo--p1 {
  left: 0;
  top: -2rem;
}
@media only screen and (max-width: 56.25em) {
  .images__photo--p1 {
    top: 0;
    left: -10rem;
    transform: scale(1.2);
  }
}
.images__photo--p2 {
  right: 0;
  top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .images__photo--p2 {
    z-index: 100;
    top: -1rem;
    left: -30rem;
    transform: scale(1.3);
  }
}
.images__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .images__photo--p3 {
    top: 0rem;
    left: -50rem;
    transform: scale(1.2);
  }
}
.images__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(0.95) translateY(1.3);
  z-index: 20;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  margin-top: -1rem;
}
@media only screen and (max-width: 56.25em) {
  .images {
    display: flex;
    margin-top: 5rem;
    position: relative;
  }
}
@media only screen and (max-width: 75em) {
  .images {
    font-size: 1.6rem;
    align-items: center;
    padding-bottom: 20rem;
  }
}

.boxes {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  width: 250px;
  height: 300px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin: 4rem;
  transition: all 0.2s;
}
.boxes:hover {
  transform: scale(1);
  z-index: 1;
  margin-top: -1rem;
}
.boxes__icons {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .boxes {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (max-width: 75em) {
  .boxes {
    margin: 1rem;
  }
}

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 125em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 10rem;
  height: 125vh;
}
.section-about .section-about-heading {
  text-align: center !important;
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .section-about .section-about-heading {
    margin-bottom: 1rem !important;
  }
}
.section-about .info {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .section-about .info {
    flex-direction: column;
    align-items: center;
  }
}
.section-about .info__info-image {
  width: calc((100% - 6rem) / 2);
  float: left;
  margin: 0 6rem;
}
@media only screen and (max-width: 75em) {
  .section-about .info__info-image {
    margin: 0 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-about .info__info-image {
    width: 70%;
  }
}

.section_features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  height: 85vh;
  transform: skewY(-5deg);
  margin-top: -10rem;
}
.section_features__text {
  transform: skewY(5deg);
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 15rem 5rem;
}
@media only screen and (max-width: 56.25em) {
  .section_features__text {
    flex-direction: column;
    width: 100%;
    padding: 5rem;
    text-align: center;
  }
}
@media only screen and (max-width: 56.25em) {
  .section_features {
    padding: 8rem;
    flex-direction: row;
    height: auto;
    margin-top: -5rem;
  }
}/*# sourceMappingURL=main.css.map */