.images{
    position:relative;
    &__photo{
        width:55%;
        box-shadow:0 1.5rem 4rem rgb(0 0 0 /40%);
        border-radius:2px; 
        position:absolute;
        transition: all .2s;
        z-index:10px;
        outline-offset: 2rem;
        
        
        &--p1{
            left:0;
            top:-2rem;
        }
            
        &--p2{
            right: 0;
            top:2rem;
        }
        &--p3{
            left:20%;
            top:10rem;
        }
    }
    &__photo:hover{
        outline: 1.5rem solid $color-primary;
        transform:scale(1.05) translatY(-0.5rem);
        z-index:20;
        box-shadow:0 2.5rem 4rem rgb(0 0 0 /50%)
    }

}